*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

# Vagrant artifacts
ubuntu-*-console.log

public-html/optacut
public-html/optfloor
public-html/optaplan
apidoc.zip
